<p>Trouvez toutes les marques de prêt-à-porter et de chaussure à deux pas
    de chez vous</p>

    <form action="" method="POST">
        <input type="text" placeholder="Rechercher une marque">
        <button> Rechercher</button>
    </form>