<p>Trouvez toutes les marques de prêt-à-porter et de chaussure à deux pas
    de chez vous</p>

{{ form_start(form) }}
{{ form_label(form.name) }}

{{ form_rest(form) }}
<button type="submit">Rechercher une marque</button>
{{ form_end(form) }}
