<div className='footer'>
    <p className='titlefooter'>P A G E S M O D E</p>
        <img className='facebook'  alt="facebook"></img>
        <img className='instagram' alt="instagram"></img>
</div>
<div className='secondFooter'>
    <li className='underline'>VOUS ÊTES UNE MARQUE ?</li>
    <li className='underline'>VOUS ÊTES UNE BOUTIQUE ?</li>
    <li>PLAN DU SITE</li>
</div>